/*
@import url('./../components/bootstrap/dist/css/bootstrap.min.css');
@import url('./../components/bootstrap/dist/css/bootstrap-theme.min.css');
@import url('./..components/jsoneditor/jsoneditor.min.css');
@import url('./../components/jQuery-contextMenu/src/jquery.contextMenu.css');
@import url('./../components/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min');
*/
/*
html
{
	background-image: url(../css/back.jpg);
}
*/
/*div {
    border: 2px solid #a1a1a1;
    padding: 1px 1px; 
    background: #87CEFA;
    width: 300px;
    border-radius: 10px;
	opacity: 0.9;
}*/

/*
body 
{
	overflow-y: scroll;
}
*/

.nav-tabs > li .close {
	margin: -2px 0 0 10px;
	font-size: 18px;
}
#visNetwork a{
    background-color: #88e4ec;
}
			
.marginBottom {
    margin-bottom :1px;
}
.form-group{
	margin-left: 5px;
	margin-right: 5px;
}
.form-inline{
	margin-top: 5px;
	margin-bottom: 5px;
}
.btn.btn-primary.form-control.dropdown-toggle {
	margin-right: 5px;
}

.MappingRule line
{
    stroke: #87CEFA;
    stroke-width : 4;
    opacity : 0.6;
    marker-end : url(#arrowMarker);
}

.MappingRule line:hover
{
	stroke-width: 7;
}

.JsonObject, .JsonArray, .JsonProperty, .NodeClass, .ClassProperty {
    cursor: pointer;
    stroke-width: 1;
    stroke: black;
}

.JsonArray rect, .JsonObject rect, .JsonProperty rect, .NodeClass rect, .ClassProperty rect {
    opacity: 0.5;
}

.JsonObject text, .JsonArray text , .JsonProperty text, .NodeClass text, .ClassProperty text {
    font-size: 11px;
    font-family: sans-serif;
    fill: black;
    text-anchor: middle;
    alignment-baseline: middle;
    stroke: none;
}
/*
.JsonObject rect:hover,
.JsonArray rect:hover,
.JsonProperty rect:hover,
.NodeClass rect:hover,
.ClassProperty rect:hover{
    stroke: blue;
    stroke-width: 5;
}
*/

.EdgeClass {
    stroke-width : 4;
    stroke : #1E0BFF;
    stroke-linecap : round;
    fill : none;
    marker-end : url(#arrowMarker);
    opacity : 0.9;
}

.EdgeClass text {
    stroke-width : 1;
    stroke : #000000;
}

.Ctrl {
    stroke-width : 2;
    stroke : #1E0BFF;
    fill : #fff;
}


.SrcCtrlLine, .DestCtrlLine {
    stroke-width : 1;
    stroke : #999;
    stroke-linecap : round;
stroke-dasharray : 5,3;
}

.EdgeClass circle:hover
{
    fill: #1E0BFF;
    cursor: pointer;
}
.EdgeClass path:hover
{
    stroke-width: 7;

}

.NodeClass .icon-gear
{
    fill: rgb(25, 25, 112);
}

.ClassProperty .icon-gear
{
    fill:#87CEFA;
}



.icon-key
{
    fill:gold;
}
.icon-gear:hover
{
    fill:rgb(28, 134, 238);
}

#inputCtrl button
{
    margin-right: 10px;
}

.list-group-item {
    display: inline-block;
}

a:hover
{
	cursor: pointer;
}
.input-append .btn.dropdown-toggle {
    float: none;
}

 .glyphicon-floppy-disk:hover
 {
	color: blue;
 }
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    color: #333;
    border-radius: 5px;
	background: white;
	opacity : 1.0;
}

.custom-menu li {
    padding: 4px 6px;
    cursor: pointer;
    border: 1px solid #CCC;

}

.custom-menu li:hover {
    background-color: #DEF;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
a .glyphicon-eye-open {
    padding-left: 1cm;

}

a .glyphicon-eye-open:hover {
    color: #008000;

}
a .glyphicon-remove:hover{
    color: red;
}
