<div id="exportMC" class="panel panel-default tab-pane fade">
    <div class="panel-body">
        <div id="div_export" class="form-inline">
            <div class="form-group">
                <div class="btn-group" id="rdBtnExport" data-toggle="buttons">
                    <label class="btn btn-default active" id="exportMapping">
                        <input type="radio" name="options" autocomplete="off" checked="">Current Mapping
                    </label>
                    <label class="btn btn-default" id="exportProject">
                        <input type="radio" name="options" autocomplete="off" checked="">Project
                    </label>
                </div>
            </div>
            <div class="form-group"><input type="text" value="mapping.json" placeholder="filename" id="fileName_export">
            </div>
            <div class="form-group">
                <a id="export" class="btn btn-info"><span class="glyphicon glyphicon-cloud-download"></span> Download</a>
            </div>
         </div>
    </div>
</div>