<div id="inputCtrl" class="panel panel-default tab-pane fade active in">
    <div class="panel-body">
        <div class="form-inline">
            <div class="form-group">
                <input id="upload" type="file" multiple="multiple" class="form-control">
            </div>
            <div class="form-group">
                <button id="reader" class="btn btn-default btn-sm">Load Example JSON (Domain)</button>
            </div>
            <div class="form-group">
                <button id="extendDomain" class="btn btn-default btn-sm">Extend Domain</button>
            </div>
            <div class="form-group">
                <button id="vizOntology" class="btn btn-default btn-sm">Load Graph Schema (Range)</button>
            </div>
        </div>
    </div>
</div>