<div class="form-inline">
    <p class="form-group">Select a Ontology: </p>
    <div class="input-append btn-group" id="OntologySelector">
        <input class="span2 form-control" id="OntologySelector_input" size="16" type="text">
        <a class="btn btn-primary form-control dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" id="OntologySelector_ul">
        </ul>
    </div>
    <div id="btnLoadGraphSchema" class="form-group">
        <button class="btn btn-info">Load Graph Schema</button>
    </div>
    <div id="btnEditGraphSchema" class="form-group">
        <button class="btn btn-primary">Edit Graph Schema</button>
    </div>
    <div id="btnUpdateGraphSchema" class="form-group">
        <button class="btn btn-success">Update Graph Schema</button>
    </div>
</div>