<div id="mc_navbar">
    <ul class="nav nav-tabs" id="myTab">

        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">File <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a data-toggle="tab" href="#inputCtrl"> Device</a></li>
                <li><a data-toggle="tab" href="#httpInputCtrl">HTTP</a></li>
                <li><a data-toggle="tab" href="#ImportCtrl">Import</a></li>
                <li><a data-toggle="tab" href="#exportMC">Export </a></li>
            </ul>
        </li>
        <li><a data-toggle="tab" href="#OntologyCtrl">Graph Schema</a></li>
        <li><a data-toggle="tab" href="#ProjectCtrl">Project</a></li>
    </ul>
</div>